h3 {
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    margin-left: 4%;
}

/* TABLE */
body div:nth-child(2) {
    margin-left: 15%;
    margin-top: 5%;
}

table tr td {
    border: 2px solid gray;
}

table tr:nth-child(1) td {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.addclass {
    margin-left: 12.5%;
}